<div class = "text-danger">
  <% if book.errors.any? %>
    <h3>
      <%= book.errors.count %> errors prohibited this obj from being saved:
    </h3>

    <% book.errors.full_messages.each do |message| %>
      <ul>
        <li><%= message %></li>
      </ul>
    <% end %>

  <% end %>

</div>



<h2>User info</h2>

<%= attachment_image_tag user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>

<table>
  <tr>
    <th>name</th>
    <th><%= user.name %></th>
  </tr>

  <tr>
    <th>introduction</th>
    <th><%= user.introduction %></th>
  </tr>
</table>

<% if user.id == current_user.id %>
  <div class = "row">
    <%= link_to edit_user_path(current_user.id) do %>
        <i class="fas fa-user-cog"></i>
  </div>
  <% end %>

<% else %>
  <%= link_to "update", user_path(current_user.id) %>

<% end %>



<h2 class = "my-3">New book</h2>

<%= form_with model: book, local: true do |f| %>
  <div class = "mb-3">
    <h4>Title</h4>
    <%= f.text_field :title %>
  </div>

  <h4>Opinion</h4>
  <%= f.text_area :body %>


  <%= f.submit 'Create Book',class:"btn btn-success my-3" %>


<% end %>