<h2>User info</h2>

<%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>

<table>
  <tr>
    <th>name</th>
    <th><%= @book.user.name %></th>
  </tr>

  <tr>
    <th>introduction</th>
    <th><%= @book.user.introduction %></th>
  </tr>
</table>

<P><%= link_to "Update", edit_user_path(current_user.id) %></P>



<h1>New book</h1>

<%= form_with model: @book_new, local: true do |f| %>

  <h4>Title</h4>
  <%= f.text_field :title %>

  <h4>Opinion</h4>
  <%= f.text_area :body %>


  <div><%= f.submit 'Create Book' %></div>

<% end %>



<h1>Book detail</h1>

<table>
    <tr>
        <th></th>
        <th>Title</th>
        <th>Opinion</th>
        <th colspan = "3"></th>
    </tr>

    <tr>
      <td>
        <%= image_tag 'sample-author1.jpg', size: "60x60" %><br>
        <%= link_to @book.user.name, user_path(@book.user.id) %>
      </td>

      <td>
        <%= link_to @book.title, book_path(@book.id) %>
      </td>

      <td>
        <%= @book.body %>
      </td>


      <td>
        <% if @book.user_id == current_user.id %>
          <%= link_to "Edit", edit_book_path(@book) %>
        <% end %>
      </td>

      <td>
        <% if @book.user_id == current_user.id %>
          <%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "本当に消しますか？" %>
        <% end %>
      </td>

    </tr>

</table>


